<div class="container full">
    <app-header [title]="title"></app-header>
    <section class="vh-50">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-12 col-xl-4">
    
            <div class="card" style="border-radius: 15px;">
              <div class="card-body text-center">
                <div class="mt-3 mb-4">
                  <i class="bi bi-person-circle icon-display"></i>
                </div>
                <h4 class="mb-2">John Doe</h4>
                <p class="text-muted mb-4">@User <span class="mx-2">|</span> <a
                    href="#!">correo@gmail.com</a></p>
                <button (click)="handleLogout()" type="button" class="btn btn-danger btn-rounded btn-lg">
                  Salir
                </button>
              </div>
            </div>
    
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
</div>
