<div class="container full">
    <app-header [title]="title"></app-header>
    <div class="container-fluid">
        <div class="container">
            <div class="d-flex align-items-center">
                <div class="input-group d-flex justify-content-center align-items-center ">
                    <select name="myselect" class="form-select" (change)="changeSelect($event)">
                        <option value="normal" selected>Selecciona Una Opcion</option>
                        <option *ngFor="let category of categorias" value="{{category.name}}"> 
                            {{category.name}} 
                        </option>
                    </select>
                </div>
            </div>
            <h3 class="my-3">Resultados ({{productos.length}})</h3>
            <div class="my-3 container-fluid full overflow-auto h-auto">
                <div class="row row-cols-2">
                    <app-card *ngFor="let product of productos" [content]="product">
                        <div class="container px-3 py-3 d-flex flex-column justify-content-between align-items-center my-2">
                            <div class="container-fluid">
                                <p class="position-relative">
                                    <i class="bi bi-heart icon-display"></i>
                                </p>
                            </div>
                            <img src="../../assets/images/foto1.webp" alt="{{product.nombre}}">
                            <h4 class="card-title">{{product.nombre.substring(0,20)}}</h4>
                            <p class="card-text fw-bold blue-500">$ {{product.precio }}</p>
                            <p class="btn btn-primary">{{product.categorium.name}}</p>
                            <button class="btn btn-outline-primary btn-rounded waves-effect" (click)="agregarAlCarro(product)">
                                Agregar
                            </button>
                        </div>
                    </app-card>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>