<div class="container full">
    <app-header></app-header>
    <div class="container">
        <div class="container-fluid">
            <div class="col-md-12 text-center">
                <img src="{{producto.url_image}}" alt="{{producto.nombre}}">
            </div>
            <h2>{{producto.nombre}}</h2>
            <p>Unidades Disponibles: {{producto.stock}}</p>
            <p class="fw-bolder blue-500">Precio: ${{producto.precio}}</p>
            <div class="col-md-12 text-center">
                <button class="my-4 btn btn-primary mx-auto my-0" (click)="agregarAlCarro()">
                    Agregar al Carrito
                </button>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>