<div class="container full">
    <app-header></app-header>
    <div class="container">
        <div class="container-fluid">
            <div class="col-md-12 text-center">
                <img src="../../assets/images/foto2.webp" alt="foto1">
            </div>
            <h2>Nombre del Producto</h2>
            <p>Descripcion</p>
            <p class="fw-bolder blue-500">Precio</p>
            <div class="col-md-12 text-center">
                <button class="my-4 btn btn-primary mx-auto my-0">
                    Agregar al Carrito
                </button>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>