<div class="container d-flex justify-content-around align-items-center px-3 py-3 position-static">
    <span routerLink="/inicio">
        <mat-icon class="text-center icon-display">home</mat-icon>
        <p class="text-center">Inicio</p>
    </span>
    <span routerLink="/buscar"> 
        <mat-icon class="text-center icon-display">search</mat-icon>
        <p class="text-center">Buscar</p>
    </span>
    <span routerLink="/perfil">
        <mat-icon class="text-center icon-display">person_outline</mat-icon>
        <p class="text-center">Perfil</p>
    </span>
</div>